<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<center>
<div id="cart">
     <!--%= render @cart %-->
     <%= render partial: "/carts/cart", locals: {cart: @cart} %>
</div>
</center>
<center><h1>Catalog</h1></center>
<% @products.each do |product| %>
<div class="entry">
<%= image_tag(product.image_url) %>
<h3><%= product.title %></h3>
<%= sanitize(product.description) %>
<div class="price_line">
<span class="price"><%= number_to_currency(product.price) %></span>
<%= button_to 'Add to Cart', line_items_path(:product_id => product.id) %>
</div>
</div>
<% end %>