<!DOCTYPE html>
<html>
  <head>
    <title>Online Store</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body id="store">
    <div id="banner">
      <div class="user_nav">
        <% if user_signed_in? %>
          Welcome <%= current_user.name %> |
          <%= link_to "Sign out", destroy_user_session_path %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Sign in", new_user_session_path %>
        <% end %>
      </div>

      <%= @page_title || "Store" %>
    </div>
    <div id="colums">
      <div id="side">
        <% if user_signed_in? && current_user.role == "admin" %>
  	      <%= link_to 'Add New Product', new_product_path %> <br/>
  	      <%= link_to 'View Existing Product', products_path %> <br/>
        <% end %>
  	      <%= link_to 'Master List', store_path %>
	    </div>
	    <div id="main">
	      <%= yield %>
      </div>
    </div>
  </body>
</html>
